body {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
  line-height: 1.5;
}
body #header-main-container {
  background-image: url(images/header-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #313C4E;
  font-family: "Poppins", sans-serif;
  height: 940px;
  position: relative;
}
body #header-main-container #navbar-row {
  font-size: 1em;
  align-items: center;
}
body #header-main-container #navbar-row ul {
  list-style: none;
  margin: 0;
}
body #header-main-container #navbar-row a {
  color: #fff;
  text-decoration: none;
}
body #header-main-container #navbar-row a#home {
  color: #F5355D;
}
body #header-main-container #navbar-row a:hover {
  color: #F5355D;
}
body #header-main-container #navbar-row #call-doctor {
  background-color: #F5355D;
  border-radius: 30px;
}
body #header-main-container #navbar-row #call-doctor:hover {
  box-shadow: 2px 2px 15px 5px #f5375f;
}
body #header-main-container #header-content {
  position: absolute;
  left: 2%;
  top: 29%;
}
body #header-main-container #header-content h2 {
  letter-spacing: 0.2em;
}
body #header-main-container #header-content #get-started {
  background-color: #F5355D;
  border-radius: 30px;
}
body #header-main-container #header-content #get-started:hover {
  box-shadow: 2px 2px 15px 5px #f5375f;
}
body #header-main-container img#corner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  margin-top: 100px;
}
body #stat-main-container {
  background-image: url(images/statistics-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(143, 143, 143, 0.05);
  box-shadow: 0 2px 27px rgba(143, 143, 143, 0.4);
}
body #stat-main-container #stat-container {
  padding-left: 6%;
  padding-right: 6%;
}
body #stat-main-container #stat-container .sprite {
  display: inline-block;
  background-image: url(images/sprite-home.png);
  height: 80px;
  width: 80px;
  transition: background-position 0.3s ease-in;
}
body #stat-main-container #stat-container #sprite1 {
  background-position: 0 0;
}
body #stat-main-container #stat-container #sprite2 {
  background-position: -70px 0;
}
body #stat-main-container #stat-container #sprite3 {
  background-position: 150px 0;
}
body #stat-main-container #stat-container #sprite4 {
  background-position: 80px 0;
}
body #stat-main-container #stat-container #sprite1:hover {
  background-position: 0 80px;
  transition: background-position 0.3s ease-out;
}
body #stat-main-container #stat-container #sprite2:hover {
  background-position: -70px 80px;
  transition: background-position 0.3s ease-out;
}
body #stat-main-container #stat-container #sprite3:hover {
  background-position: 150px 80px;
  transition: background-position 0.3s ease-out;
}
body #stat-main-container #stat-container #sprite4:hover {
  background-position: 80px 80px;
  transition: background-position 0.3s ease-out;
}
body #stat-main-container #stat-container .stat {
  font-size: 140%;
  line-height: 50%;
}
body #stat-main-container #stat-container .stat-1 {
  color: #FB4661;
}
body #stat-main-container #stat-container .stat-2 {
  color: #A10D48;
}
body #stat-main-container #stat-container .stat-3 {
  color: #7124AF;
}
body #stat-main-container #stat-container .stat-4 {
  color: #D8661D;
}
body #what-is-corona-container {
  padding: 6%;
}
body #what-is-corona-container img {
  max-width: 100%;
}
body #what-is-corona-container #what-is-corona-content {
  color: #353C4C;
  font-family: "Poppins", sans-serif;
  line-height: 1.9;
}
body #what-is-corona-container #what-is-corona-content h1 {
  font-size: 250%;
}
body #what-is-corona-container #what-is-corona-content p {
  font-size: 95%;
}
body #what-is-corona-container #what-is-corona-content h2 {
  font-size: 150%;
  font-weight: 600;
}
body #symptoms-main-container {
  font-family: "Poppins", sans-serif;
  background-image: url(images/symptoms-bg.png);
  color: #353C4C;
  line-height: 1.7;
  padding: 6%;
}
body #symptoms-main-container h1 {
  font-size: 250%;
}
body #symptoms-main-container p {
  font-size: 90%;
}
body #symptoms-main-container #symptoms-content figure h2 {
  font-size: 150%;
  font-weight: 600;
}
body #symptoms-main-container #symptoms-content span {
  background-image: url(images/sprite-home-v3.png);
  display: inline-block;
  height: 120px;
  width: 120px;
  transition: background-position 0.3s ease-in;
  border: 2px dotted black;
  border-radius: 50%;
}
body #symptoms-main-container #symptoms-content #symp1 {
  background-position: 10px -150px;
}
body #symptoms-main-container #symptoms-content #symp2 {
  background-position: -110px -155px;
}
body #symptoms-main-container #symptoms-content #symp3 {
  background-position: 143px -150px;
}
body #symptoms-main-container #symptoms-content #symp4 {
  background-position: 3px -250px;
}
body #symptoms-main-container #symptoms-content #symp5 {
  background-position: -115px -250px;
}
body #symptoms-main-container #symptoms-content #symp6 {
  background-position: 144px -250px;
}
body #symptoms-main-container #symptoms-content figure:hover span {
  background-color: #F5355D;
  border: 2px dotted #fff;
  color: #fff;
  transition: background-position 0.3s ease-out;
}
body #symptoms-main-container #symptoms-content figure:hover h2 {
  color: #F5355D;
}
body #symptoms-main-container #symptoms-content figure:hover #symp1 {
  background-position: 10px -340px;
}
body #symptoms-main-container #symptoms-content figure:hover #symp2 {
  background-position: -110px -345px;
}
body #symptoms-main-container #symptoms-content figure:hover #symp3 {
  background-position: 143px -340px;
}
body #symptoms-main-container #symptoms-content figure:hover #symp4 {
  background-position: 3px -440px;
}
body #symptoms-main-container #symptoms-content figure:hover #symp5 {
  background-position: -115px -440px;
}
body #symptoms-main-container #symptoms-content figure:hover #symp6 {
  background-position: 144px -440px;
}

/*# sourceMappingURL=corona-challenge.css.map */
