
$accent-color: #F5355D;
$text-color: #353C4C;
$font-family: 'Poppins', sans-serif;
$accent-gradient: linear-gradient(0deg, rgb(227, 20, 91), rgb(247, 58, 91));

// -webkit-linear-gradient(-65deg, rgb(227, 20, 91), rgb(247, 58, 91)), 

body {
    // font-family: 'Poppins', sans-serif;
    font-size: 14px!important;
    line-height: 1.5;

    #header-main-container {
        background-image: url(images/header-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #313C4E;
        font-family: 'Poppins', sans-serif;
        height: 940px;
        position: relative;

        #navbar-row {
            font-size: 1em;
            align-items: center;

            ul {
                list-style: none;
                margin: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
            }

            a#home {
                color: $accent-color;
            }

            a:hover {
                color: $accent-color;
            }

            #call-doctor {
                background-color: $accent-color;
                border-radius: 30px;
            }

            #call-doctor:hover {
                box-shadow: 2px 2px 15px 5px lighten($color: $accent-color , $amount: 0.5);
            }
        }

        #header-content {
            position: absolute;
            left: 2%;
            top: 29%;
    

            h2 {
                letter-spacing: 0.2em;
            }
    
            #get-started {
                background-color: $accent-color;
                border-radius: 30px;
            }

            #get-started:hover {
                box-shadow: 2px 2px 15px 5px lighten($color: $accent-color , $amount: 0.5);
            }

        }

        img#corner {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            margin-top: 100px;
        }

        
    }

    #stat-main-container {
        background-image: url(images/statistics-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(143, 143, 143, 0.05);
        box-shadow: 0 2px 27px rgba(143, 143, 143, 0.4);

        #stat-container {
            padding-left: 6%;
            padding-right: 6%;
            
            // Sprites
            .sprite {
                display:inline-block;
                background-image: url(images/sprite-home.png);
                height: 80px;
                width: 80px;
                transition: background-position 0.3s ease-in;
            }

            #sprite1 {background-position: 0 0;}
            #sprite2 {background-position: -70px 0;}
            #sprite3 {background-position: 150px 0;}
            #sprite4 {background-position: 80px 0;}
    
            #sprite1:hover {
                background-position: 0 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite2:hover {
                background-position: -70px 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite3:hover {
                background-position: 150px 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite4:hover {
                background-position: 80px 80px;
                transition: background-position 0.3s ease-out;
            }

            // FigCaptions
            .stat{
                font-size: 140%;
                line-height: 50%;
            }

            .stat-1 {color: #FB4661;}
            .stat-2 {color: #A10D48;}
            .stat-3 {color: #7124AF;}
            .stat-4 {color: #D8661D;}
            
        }
    }

    #what-is-corona-main-container {
        
        padding: 6%;

        img {
            max-width: 100%;
        }

        #what-is-corona-content {
            color: $text-color;
            font-family: 'Poppins', sans-serif;
            line-height: 1.9;
            h1 {font-size: 250%;}
            p {font-size: 95%;}
            h2 {
                font-size: 150%;
                font-weight: 600;
            }
        }

    }

    #symptoms-main-container {
        font-family: $font-family;
        background-image: url(images/symptoms-bg.png);
        color: $text-color;
        line-height: 1.7;
        padding: 6%;
        h1 {font-size: 250%;}
        p{font-size: 90%}

        #symptoms-content {

            
            figure h2 {
                font-size: 150%;
                font-weight: 600;
            }

            span {
                background-image: url(images/sprite-home-v3.png);
                display:inline-block;
                height: 120px;
                width: 120px;
                transition: background-position 0.3s ease-in;
                border: 2px dotted black;
                border-radius: 50%;
            }

            #symp1 {background-position: 10px -150px;}
            #symp2 {background-position: -110px -155px;}
            #symp3 {background-position: 143px -150px;}
            #symp4 {background-position: 3px -250px;}
            #symp5 {background-position: -115px -250px;}
            #symp6 {background-position: 144px -250px;}

            figure:hover {
                span {//Fix GRADIENT !!!
                    // background-image: url(images/sprite-home-v3.png), linear-gradient(-65deg, rgb(201, 144, 164), rgb(247, 58, 91));
                    background-color: $accent-color;
                    border: 2px dotted #fff;
                    color: #fff;
                    transition: background-position 0.3s ease-out;
                }

                h2 {color:$accent-color}

                #symp1 {background-position: 10px -340px;}
                #symp2 {background-position: -110px -345px;}
                #symp3 {background-position: 143px -340px;}
                #symp4 {background-position: 3px -440px;}
                #symp5 {background-position: -115px -440px;}
                #symp6 {background-position: 144px -440px;}
            
            }
        }
    }

    #protect-main-container {
        
        font-family: $font-family;
        line-height: 2.2;
        padding: 6%;
        h1 {font-size: 250%;}
        p{font-size: 90%}
        h2 {
            font-size: 150%;
            font-weight: 600;
        }

        #protect-heading {
            max-width: 450px;
        }

        #protect {
            background-image: url(images/protect-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: fill;
            justify-content: space-between;

            figure {min-height: 130px;}

            span {
                background-image: url(images/sprite-home-v3.png);
                background-color: #fff;
                display:inline-block;
                height: 80px;
                width: 80px;
                transition: background-position 0.3s ease-in;
                border: 1px solid black;
                border-radius: 50%;
            }

            #protection-1 {background-position: 5px 4px;}
            #protection-2 {background-position: -57px 4px;}
            #protection-3 {background-position: -124px 4px;}
            #protection-4 {background-position: -184px 4px;}
            #protection-5 {background-position: -246px 4px;}
            #protection-6 {background-position: -307px 3px;}

            figure:hover {
                span {//Fix GRADIENT !!!
                    // background-image: url(images/sprite-home-v3.png), linear-gradient(-65deg, rgb(201, 144, 164), rgb(247, 58, 91));
                    background-color: $accent-color;
                    border: 2px solid #fff;
                    color: #fff;
                    transition: background-position 0.3s ease-out;
                }

                h2 {color:$accent-color}

                #protection-1 {background-position: 5px -77px;}
                #protection-2 {background-position: -57px -77px;}
                #protection-3 {background-position: -124px -77px;}
                #protection-4 {background-position: -184px -77px;}
                #protection-5 {background-position: -246px -77px;}
                #protection-6 {background-position: -308px -80px;}
            }
        }
    }

    #subscribe-main-container {
        background-image: url(images/subscribe-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;
        justify-content: space-between;
        font-family: $font-family;
        padding: 90px 90px;

        #subscribe-group {
            display:flex;
            background-color: #161E32;
            border: 1px solid #253856;
            border-radius: 50px;
            padding-right: 0;
        }

        #subscribe-input {
            background-color: #161E32;
            border: 0 solid #253856;
            font-family: Arial, Helvetica, sans-serif;
            width: 700px;
            padding-left: 20px;
            
        }

        #subscribe-button {
            background-color: $accent-color;
            border-radius: 50px;
            padding: 15px;
            width: 200px;
        }

        #subscribe-button:hover {
            background: $accent-gradient
        }
    }

    #FAQ-main-container {
        color: $text-color;
        justify-content: space-between;
        font-family: $font-family;
        padding: 100px 50px 30px 50px;
        h1 {font-size: 250%;}
        p{line-height: 1.7;}
        h2 {
            font-size: 150%;
            font-weight: 600;
        }
        a {
            color: $text-color;
            font-weight: 600;}

        .faq {
            margin-bottom: 20px;

            p {
                padding-left: 55px;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .chevron {
            display: inline-flex;
            background-color: #EEE;
            border-radius: 50%;
            font-size: 60%;
            font-weight: bold;
            margin-right: 10px;
            width: 30px;
            height: 30px;    
        }

        a:hover {

            .chevron {
                background: $accent-gradient;
                color: #fff;
                box-shadow: 2px 2px 10px rgba(143, 143, 143, 0.4);
            }
        }
        // <i class="fas fa-chevron-down"></i>
    }

    #specialists-main-container {
        color: $text-color;
        justify-content: space-between;
        font-family: $font-family;
        padding: 10px 60px 30px 60px;
        h1 {font-size: 250%;}
        p{line-height: 1.7;
        margin: 0;}
        h2 {
            font-size: 130%;
            font-weight: 600;
        }
        figure {
            transition: color 0.2s ease-in;
            width: fit-content;
        }

        figure#team1:hover,
        figure#team2:hover,
        figure#team3:hover,
        figure#team4:hover {

            #team-name1,
            #team-name2,
            #team-name3,
            #team-name4 {
                background: $accent-gradient;
                color: #FFF!important;
                transition: color 0.2s ease-out;
            }
        }

        

        

        figure#team1 {
            position: relative;
          }
          
        #team-img1 {
            // opacity: 1;
            // display: block;
            // width: 100%;
            // height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
          }
          
          .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            width: fit-content;

            a {
                display: inline-flex;
                height: 40px;
                width: 40px;
                margin: 2px 2px;
                text-decoration: none;

                i {
                    font-size: 120%;
                    margin:auto}
            }

            a:hover {
                .middle {background-color: #fff;}
                
            }
          }
          
          #team1:hover #team-img1 {
            background-color: #313C4E;
            opacity: 0.3;
          }
          
          #team1:hover .middle {
            opacity: 1;
          }
          
          .text {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            padding: 16px 32px;
          }  
            

        

        
        
    }

}




