$accent-color: #F5355D;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px!important;
    line-height: 1.5;

    #header-container {
        background-image: url(images/header-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #313C4E;
        font-family: 'Poppins', sans-serif;
        height: 940px;
        position: relative;

        #navbar-row {
            font-size: 1em;
            align-items: center;

            ul {
                list-style: none;
                margin: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
            }

            a#home {
                color: $accent-color;
            }

            a:hover {
                color: $accent-color;
            }

            #call-doctor {
                background-color: $accent-color;
                border-radius: 30px;
            }

            #call-doctor:hover {
                box-shadow: 2px 2px 15px 5px lighten($color: $accent-color , $amount: 0.5);
            }
        }

        #header-content {
            position: absolute;
            left: 2%;
            top: 29%;
    

            h2 {
                letter-spacing: 0.2em;
            }
    
            #get-started {
                background-color: $accent-color;
                border-radius: 30px;
            }

            #get-started:hover {
                box-shadow: 2px 2px 15px 5px lighten($color: $accent-color , $amount: 0.5);
            }

        }

        img#corner {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            margin-top: 100px;
        }

        
    }

    #stat-main-container {
        background-image: url(images/statistics-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(143, 143, 143, 0.05);
        box-shadow: 0 2px 27px rgba(143, 143, 143, 0.4);

        #stat-container {
            padding-left: 6%;
            padding-right: 6%;
            
            // Sprites
            .sprite {
                display:inline-block;
                background-image: url(images/sprite-home.png);
                height: 80px;
                width: 80px;
                transition: background-position 0.3s ease-in;
            }

            #sprite1 {background-position: 0 0;}
            #sprite2 {background-position: -70px 0;}
            #sprite3 {background-position: 150px 0;}
            #sprite4 {background-position: 80px 0;}
    
            #sprite1:hover {
                background-position: 0 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite2:hover {
                background-position: -70px 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite3:hover {
                background-position: 150px 80px;
                transition: background-position 0.3s ease-out;
            }
    
            #sprite4:hover {
                background-position: 80px 80px;
                transition: background-position 0.3s ease-out;
            }

            // FigCaptions
            .stat{
                font-size: 140%;
                line-height: 50%;
            }
            
            .stat-1 {color: #FB4661;}
            .stat-2 {color: #A10D48;}
            .stat-3 {color: #7124AF;}
            .stat-4 {color: #D8661D;}
            
        }
    }

    #what-is-corona-container {
        
        padding: 6%;

        img {
            max-width: 100%;
        }

        #what-is-corona-content {
            color: #353C4C;
            font-family: 'Poppins', sans-serif;
            line-height: 1.9;
            h1 {font-size: 250%;}
            p {font-size: 95%;}
            h2 {
                font-size: 150%;
                font-weight: 600;
            }
        }

    }

    

        
        
        
    
}




